version: '3.8'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: quotes_db
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '5432:5432'
    networks:
      - app-network
  
  redis:
    image: redis
    ports:
      - '6379:6379'
    networks:
      - app-network

  server:
    build:
      context: ../server
    volumes:
      - ../server:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '5000:5000'
    depends_on:
      - db
      - redis
    networks:
      - app-network

  client:
    build:
      context: ../client
    volumes:
      - ../client:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '9000:9000'
    networks:
      - app-network

networks:
  app-network:
